{% extends "base.html" %}
{% block content %}
    <style>
        .custom-action-large {
        font-size: 2.4rem;
        line-height: 1.8;
        color: #333;
        }
        .custom-header-large{
            font-size : 3.4rem;
        }
    </style>
    <div class="text-center"><h3 class="custom-header-large">List of Departments</h3></div>
    {% if current_user.is_authenticated %}
    <div class="text-center">
        <a href="{{url_for('department.create')}}"><button class="btn btn-success mb-3">Add department</button></a>
    </div>
    {% endif %}
    <div class="text-center">
        <a href="{{url_for('main.home')}}"><button class="btn btn-secondary btn-sm me-2">Back go</button></a>
    </div>
    <div class="table-responsive">
        {% for department in departments %}
        <p class="custom-action-large">Department # {{department.id}}</p>
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Chief</th>
                    <th scope="col">Members</th>
                    <th scope="col">Department email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{department.title}}</td>
                    <td>{{department.chief.name}} {{department.chief.surname}}</td>
                    <td>{{department.get_members_by_id_to_string()}}</td>
                    <td>{{department.email}}</td>
                </tr>
            </tbody>
        </table>
        {% if current_user.id == 1 or current_user.id == department.chief_id%}
            <a href="{{url_for('department.delete', department_id=department.id)}}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
            <a href="{{url_for('department.redact', department_id=department.id)}}"><button type="button" class="btn btn-secondary btn-sm me-2">Edit</button></a>
        {%endif%}
        {% endfor %}
    </div>
{% endblock %}